body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  /* max-width: 1158px; */
  max-width: 320px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 96px 0;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.hide {
  display: none !important;
}
/* ==============HEADER==================== */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-studio {
  color: #2e2f42;
  gap: 76px;
}
.header-link {
  color: #404bbf;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 120px;
  
}
.header-list-link {
  color: #2e2f42;
}
.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}
.header-list-link:hover::after {
  background-color: #2e2f42;
}
.header-list-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 23px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link-item:first-child .header-list-link::after {
  display: block;
  content: "";
  border-radius: 2px;
  background: #404bbf;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  position: absolute;
}
.header-list li:first-child .header-list-link {
  color: #404bbf;
}
.header-list {
  /* display: flex; */
  display: none;
  gap: 40px;
}
.logo-web {
  color: #4d5ae5;
}
.contacts {
  display: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px 40px;
  align-items: center;
  color: #434455;
  font-size: 12px;
  line-height: 1.16;
}
.contacts-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

/* ===========Order servise========= */

.order-servise {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  /* padding: 188px 0; */
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.order-servise-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 258px;
  padding: 0 25px;
  margin: 0 auto 72px;
}
.button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  height: 56px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:focus {
  background-color: #404bbf;
}
.button:hover {
  background-color: #404bbf;
}
/* ===========Features============ */

.features-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-icon-div {
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex; */
  display: none;
  margin-bottom: 8px;
}
/* =========Our team========== */
.our-team {
  background: #f4f4fd;
}

.our-team-list {
  display: flex;
  gap: 72px 24px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 554px;
  margin: 0 auto;
}
.our-team-item {
  max-width: 264px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-subtitles {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-card {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.our-team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.soc-icon {
  fill: #f4f4fd;
  flex-shrink: 0;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}
/* ========Our Portfolio========== */

.our-portfolio-subheader {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.our-portfolio-item {
  
  text-align: left;
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
  display: flex;
}
.our-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-div {
  position: relative;
  overflow: hidden;
}
.our-portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-card {
  border-top: none;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-cover-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  width: 360px;
  height: 100%;
  flex-shrink: 0;
  border: 1px solid var(--CLOUD, #f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: var(--IRIS, #4d5ae5);
  top: 0px;
  display: flex;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-subheader {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.our-portfolio-card {
  border-top: none;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*=========Footer==============  */
.footer {
  background: #2e2f42;
  font-family: "Roboto", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  gap: 72px;
  flex-direction: column;
max-width: 320px;
}
.footer-left-div {
  /* margin-right: 120px; */
  
}

.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-link-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}
.footer-social {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  text-align: center;
}
.footer-soc-text {
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-soc-icon {
  fill: #f4f4fd;
  flex-shrink: 0;
}
.footer-soc-link {
  height: 100%;
  width: 100%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-input {
  margin-left: auto;
 
}
/* .footer-input input[type="text"] {
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
} */
/* .footer-input input[type="text"]::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.02em;
  padding-left: 12px;
} */
.footer-input-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}
.footer-button {
  background-color: #4d5ae5;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

margin: 0 auto;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
}
.footer-button-icon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.subscribe-input {
  
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-input::placeholder{
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* =======Модальне вікно========= */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: calc(100% - 32px);
  max-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  stroke: #2e2f42;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  padding-right: 16px;
}
.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
}
.modal-form-btn {
  padding: 16px 32px;
  color: #fff;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 500;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
.modal-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  line-height: 11.17;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}
.modal-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  display: block;
  letter-spacing: 0.04em;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-textarea {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;

  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;

  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field {
  margin-bottom: 16px;
}
.input-wrap {
  position: relative;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 8px;
  resize: none;
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  align-items: center;
}
.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}
.modal-check:checked + .check-text > .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-text-box {
  display: inline-flex;
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  outline: transparent;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
  margin-bottom: 24px;
}
.check-link {
  outline: transparent;
  background-color: transparent;
  color: #4d5ae5;
  text-decoration-line: underline;
}

/** MOBILE MENU **/
.mobile-menu {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 72px 16px 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  transform: translateX(100%); 
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #e7e9fc;
}
.mobile-menu__list-item {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-menu__list-item.is_active{
    color:#404BBF;
}
.mobile-menu__list-item a{
    color: inherit;
}
.mobile-menu__list-item:not(:last-child){
    margin-bottom: 40px;
}
.mobile-menu__address-item{
  margin-bottom: 24px;
}
.mobile-menu__address{
margin-bottom: 48px;
}
.mb-menu_link {
    color: #434455;
    
}
.jc-fs{
    justify-content: flex-start;
}

.mobile-menu__address-item a{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
 .container{
  max-width: 768px;
 }
 
  /** HEADER */
  .header {
    padding: 0;
  }
  .header-list {
    display: flex;
  }
  .contacts {
    display: block;
  }
  .burger-btn {
    display: none;
  }

  /** SECTION 1 **/
  .order-servise {
    padding: 112px 0;
  }
  .order-servise-header {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
    max-width: 496px;
    padding: 0;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  /** SECTION 2 **/
  .features-header {
    text-align: left;
  }
  /** SECTION 3 **/
  .our-team{
    /* max-width: 584px;
    margin-left: 108px; */

    padding: 0 92px;
  }
  .our-team-list {
    justify-content: flex-start;
  }
  .our-team-item {
    max-width: 100%;
    flex-basis: calc((100% - 24px) / 2);
  }
/** SECTION 3 Portfolio**/
.our-portfolio-item{
    flex-basis: calc((100% - 24px) / 2);
}
 
  /* Footer */
  .footer-container{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: calc((100% - 24px) / 2);
    gap: 24px; */
    /* gap: 72px 24px; */
    gap: 0;
    /* max-width: 584px; */
    padding: 0 92px;
}
.footer-text{
    max-width: 264px;
}
.subscribe-form{
    flex-direction: row;
}
.footer-left-div {
  /* margin-right: 120px; */
  margin-right: 0;
  
}
.footer-link{
  display: inline-block;
}
.footer-social{
  /* margin-right: 80px; */
  margin-right: 0;
}
.subscribe-input{
  width: 264px;
  margin-left: 0;
}
.footer-input{
  margin: 0;
}
.footer-input-text{
  text-align: start;
}
.footer-soc-text{
  text-align: start;
}

  /* MB-menu */
  .mobile-menu {
    display: none;
  }



  
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container{
    max-width: 1158px;
  }
  /** HEADER */
  .contacts-list {
    flex-direction: row;
  }
  .contacts-list {
    font-size: 16px;
    line-height: 1.5;
  }
  .header-link{
    margin-right: 76px;
  }

  /*** HEADER */
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  /** SECTION 1 **/
  .order-servise {
    padding: 188px 0;
  }
  .order-servise-header {
    margin: 0 auto 48px;
  }
  /** SECTION 2 **/
  .features-icon-div {
    display: flex;
  }
  .features-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .features-text{
    font-weight: 400;
  }
  /** SECTION 3 **/
  .our-team{
    /* max-width: 1158px; */
    margin-left: 0px;
  }
  .our-team-list {
    max-width: 100%;
  }
  .our-team-item {
    max-width: 100%;
    flex-basis: calc((100% - 72px) / 4);
  }

  /* SECTION 4 Portfolio */

  .our-portfolio-item{
    flex-basis: calc((100% - 48px) / 3);
  }
  .our-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-cover-div {
    position: relative;
    overflow: hidden;
  }
  .our-portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

/* Footer */
.footer-container{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    /* justify-content: space-around; */
    max-width: 1158px;
    flex-wrap: nowrap;
    padding: 0 15px;
}
.footer-text{
    width: 264px;
}
.subscribe-form{
    flex-direction: row;
}
.footer-left-div {
  margin-right: 120px;
  
}
.footer-link{
  display: inline-block;
}
.footer-social{
  margin-right: 80px;
  text-align: start;
}
.subscribe-input{
  max-width: 264px;
}
/* .footer-input-text{
  text-align: center;
}  */

}
/* for desctop */
/* @media screen and (min-resolution: 192dpi) and 
(min-width: 1158px), screen and (min-resolution: 2dppx) 
and (min-width: 1158px), screen and 
(min-device-pixel-ratio: 2) and (min-width: 1158px){
    .order-servise{
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
        url(../images/people-office@2x.jpg);
    }
} */
/* for all орієнтується на щільність екрану не на розмір */
@media screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-ratio: 2) {
  .order-servise {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
  }



}
